.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.addBox {
	width: 500px;
}

.addBox input {
	padding: 7px;
	margin-bottom: 7px;
}

.addBox form {
	display: flex;
	flex-direction: column;
}

.para {
	font-size: 12px;
	padding: 10px;
}

.listContainer {
	margin-top: 10%;
}

.problemPane {
	padding: 5px;
	display: flex;
	flex-direction: row;
	background-color: rgba(226, 102, 57, 0.979);
	margin: 12px;
	color: rgb(241, 241, 241);
}

.nameCard,
.refCard,
.difficultyCard {
	margin: 0px 20px;
	font-size: 18px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 20px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

button {
	padding: 7px;
	margin-bottom: 7px;
}
