@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
	background-color: #082d48fd;
	color: white;
	font-family: 'Oswald', sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.addBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addBox input {
	padding: 7px;
	margin-bottom: 7px;
	/* width: 300px; */
}

.addBox form {
	display: flex;
	flex-direction: column;
}

.btnSubmit {
	width: 318px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.para {
	font-size: 12px;
	padding: 10px;
}

.listContainer {
	margin-top: 10%;
}

.problemPane {
	padding: 5px;
	display: flex;
	flex-direction: row;
	background-color: rgba(226, 102, 57, 0.979);
	margin: 12px;
	color: rgb(241, 241, 241);
}

.nameCard,
.refCard,
.difficultyCard {
	margin: 0px 20px;
	font-size: 18px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
	box-shadow: 1px 1px 4px 4px #dcdcdc36;
}

th,
td {
	/* border: 1px solid #dddddd; */
	text-align: left;
	padding: 20px;
}

th {
	background-color: #4691b4;
}

th:not(:last-child) {
	border-right: 1px solid #dddddd4f;
}

tr {
	background-color: #004f73;
}

button {
	padding: 7px;
	margin-bottom: 7px;
	background-color: #004f73;
	border: none;
	width: 130px;
	height: 40px;
	color: white;
	font-size: 17px;
	font-family: 'Oswald';
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
